<!--  footer -- 显示版权信息  -->
<div class="footer">
    @{Html.RenderAction("ZhTitle", "Site");}
    &nbsp;
    @{Html.RenderAction("Version", "Site");}
    &nbsp;版权所有&nbsp;
    @{Html.RenderAction("Copyright", "Site");}
    <br />
    建议：使用IE8+浏览器，显示分辨率1024*768以上
</div>
